<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>DBurl</param-name>
        <param-value>jdbc:derby://localhost:1527/Agenzia</param-value>
    </context-param>
    <context-param>
        <param-name>DBuser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>DBpwd</param-name>
        <param-value>andrea</param-value>
    </context-param>
    <servlet>
        <servlet-name>ControllerMVC</servlet-name>
        <servlet-class>Servlet.ControllerMVC</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerMVC</servlet-name>
        <url-pattern>/ControllerMVC</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
